.japan {
    width: 1000px;
    height: 700px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    margin: auto;
}
  
.circle {
    width: 400px;
    height: 400px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: auto;
    width: 300px;
    padding-bottom: 20px;
}

@media (max-width: 980px) {
    .japan {
        width: 816.3;
        height: 500;
    }
}

@media (max-width: 768px) {
    .japan {
        width: 600;
        height: 300;
    }
}

@media (max-width: 480px) {
    .japan {
        width: 400;
        height: 100;
    }
}